TestResults/
MES_APEM_UFT_Selenium_Auto/MES_APEM_UFT_Selenium_Auto/Results/
MES_APEM_UFT_Selenium_Auto/MES_APEM_UFT_Selenium_Auto/Log/
MES_APEM_UFT_Selenium_Auto/MES_APEM_UFT_Selenium_Auto/obj/
MES_APEM_UFT_Selenium_Auto/MES_APEM_UFT_Selenium_Auto/bin/
MES_APEM_UFT_Selenium_Auto/packages/

.vs/MES_APEM_UFT_Selenium_Auto/v16/


MES_APEM_UFT_Selenium_Auto/MES_APEM_UFT_Selenium_Auto\obj\Debug\WD_UFT_Selenium_Auto.dll

*.testlog
*.testlog
*.cache

MES_APEM_UFT_Selenium_Auto/.vs/MES_APEM_UFT_Selenium_Auto/v16/.suo
*.manifest
*.pdb
*.log
*.dll
*.exe