<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="123.0.6312.5800" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="4.8.1" targetFramework="net472" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="123.0.2420.65" targetFramework="net461" />
  <package id="Spire.PDF" version="9.8.5" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
</packages>